nav{
    display: flex;
    justify-content: space-between;
    margin-block-end: 16%;
    
}
.firstlogo{
    width: 34%;
}
.firsttry{
    border: 1px solid;
    border-radius: 23px;
    width: 10%;
    background-color:white;
    color: pink;
    box-shadow: 2px 2px 2px;
    text-align: center;
}
.firstcontainer{
    text-align: center;
    margin-block-end: 2%;
}

.secondbtn{
    width: 40%;
    background-color: rgb(134, 28, 45);
    color: white;
    height: 52px;
    border: 1px;
    border-radius: 23px;
    text-align: center;
    box-shadow: 1px 3px 2px;
    font-weight: 700;
    

}

.container2{
    text-align: center;
    /* width: 50%; */
    margin-block-end: 3%;
}

.container3{
    display: flex;
    justify-content: space-evenly;
}

.fell{
    font-weight: 700;
    font-size: x-large;
}
.fell p{
    font-weight: 700;
    font-size: x-large;
}
.stand{
    font-weight: 700;
    font-size: x-large;
}
.stand p{
    font-size: smaller;
    text-align: center;
    
}

.container4{
    display: flex;
}


/* DESKTOP FIRST APPROACH */
@media (max-width: 2560px) {
  
}
@media (max-width: 1200px) {
	
}
@media (max-width: 992px) {	
	
}
@media (max-width: 768px) {
	
}
@media (max-width: 425px) {
    .nav{
        justify-content: space-between;
        /* margin-block-end: 2%; */
        
    }
    .firsttry{
        width: 25%;
        
    }
    .firstlogo{
        width: 30%;
    }
    .firstcontainer{
        text-align: center;
        margin-block-end: 2%;
    }
    .firstcontainer h1{
        width: 90%;
        padding: 6%;
        
    }
    .firstcontainer p{
        text-align: center;
        margin-block-end: 2%;
        padding: 7%;
        font-size: large;
    }
    .secondbtn{
        width: 50%;
        margin-block-end: 19%;
    }
    .mmm{
        text-align: center;
        width: 80%;
        margin-block-end: 12%;
    }
    .container3{
        display: block;
        text-align: center;
        
        /* padding: 15%; */
        /* background-image: url(./bg-section-top-mobile-1.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom; */
        /* margin-block-end: 5%; */
    }
    .walk{
        width: 100%;
    }
   
    .fell p{
        font-size: small;
        margin-block-end: 20%;
        font-family: Arial, Helvetica, sans-serif;
        width: auto;
    }
    .stand{
        /* background-image: url(./bg-section-top-mobile-1.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        margin-block-end: 90%; */
    }
    .stand p{
        font-size: small;
        margin-block-end: 2%;
        font-family: Arial, Helvetica, sans-serif;
        width: auto;
        
    }

    .container4{
        display: block;
        background-color: #F6FBFF;
        width: auto;
        margin-top: -4%;
        margin-block-end: 22%;
        
    }

    .box1{
        text-align: center;
        margin-block-end: 12%;
        
        
    }
    .box2{
        text-align: center;
        padding-top: 10%;
        margin-block-end: 22%;
    }
    .box1 h1{
        font-size: x-larger;
        font-weight: 900;
    }
    .box1 p{
        font-size: large;
        padding: 9%;
        text-align: center;
        /* margin-block-end: 12%; */

    }
    .box2 img{
        width: 65%;
        text-align: center;
    }

    .container5{
        display: block;
        /* background-color: #F6FBFF; */
        width: auto;
        margin-top: -4%;
        
    }
    .dance{
        width: 100%;
        margin-top: -39%;
        margin-bottom: 10%;
       
    }

    .part1 img{
        width: 65%;
        /* text-align: center; */
        margin-block-end: 22%;
        margin-left: 20%;
    }
   

    .part2 h1{
        font-size: x-large;
        font-weight: 900;
        text-align: center;
    }
    .part2 p{
        font-size: large;
        padding: 9%;
        text-align: center;
        margin-block-end: 9%;

    }

    /* .phonu{
        width:100%;
        margin-block-end: 11%;
    } */
    .ipe{
        width: 100%;
    }

    .container6{
        display: block;
        /* width: auto; */
        background-color: #F6FBFF;
        /* border: 1px solid; */
        
    }
    .dad{
        text-align: center;
        width: 65%;
        margin-top: -4%;
    }
    .dada{
        width: 100%;
        margin-left: 20%;
        margin-block-end: 11%;
    }
    .mom{
        text-align: center;
        font-size: medium;
        /* margin-block-end: 83%; */
        /* margin-top: -1%; */
        margin-bottom: -4%;
    }
    .mom p{
        font-size: smaller;
        text-align: center;
        
        
    }

    .container7{
        text-align: center;
        /* border: 1px solid; */
    }

    .meje{
        width: 100%;
        /* margin-left: 20%; */
        margin-block-end: 15%;
    }

   


    .getstart{
        width: 60%;
        background-color: rgb(134, 28, 45);
        color: white;
        height: 42px;
        border: 1px;
        border-radius: 23px;
        text-align: center;
        box-shadow: 1px 3px 2px;
        font-weight: 700;
        margin-block-end: 42%;
    
    }

    .foot{
        width: 100%;
        
    }

    .container8{
        display: block;
        background-color: #00252E;
        color: white;
        margin-top: -8%;
        
    }

    .hatea{
        font-size: small;
        padding-left: 7%;
        margin-block-end: 42%;
        margin-top: 6%;
        padding-top: 10%;
    }
    .hatea h2{
        margin-block-end: 12%;
    }
    .hatea p{
        font-size: small;
        margin-block-end: 6%;
    }

    .sub{
        width: 80%;
        border-radius: 9px;
        height: 30px;
        margin-block-end: 4%;
    }

    .shoki{
        background-color: rgb(204, 84, 102);
        color: white;
        width: 40%;
        margin-left: 44%;
        height: 40px;
        border-radius: 9px;
        text-align: center;
    }

    .end{
        width: 70%;
        color: white;
        padding-left: 7%;
    }

    .okon p{
        padding-left: 7%;
        /* text-align: center;
    } */

}